services:
  node0:
    hostname: node0
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:1234"
    environment:
      RAFTY_PEERS: 172.17.0.1:9000,172.17.0.1:9001,172.17.0.1:9002
      RAFTY_CONNECT: 2,3
      RAFTY_NODE_ID: 1
  node1:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9001:1234"
    environment:
      RAFTY_PEERS: 172.17.0.1:9000,172.17.0.1:9001,172.17.0.1:9002
      RAFTY_CONNECT: 1,3
      RAFTY_NODE_ID: 2
  node2:
    hostname: node0
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9002:1234"
    environment:
      RAFTY_PEERS: 172.17.0.1:9000,172.17.0.1:9001,172.17.0.1:9002
      RAFTY_CONNECT: 1,2
      RAFTY_NODE_ID: 3

