services:
  node1:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    environment:
      RAFTY_PEERS: node1:9000,node2:9001,node3:9002
      RAFTY_CONNECT: 2,3
      RAFTY_NODE_ID: 1
  node2:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9001:9000"
    environment:
      RAFTY_PEERS: node1:9000,node2:9001,node3:9002
      RAFTY_CONNECT: 1,3
      RAFTY_NODE_ID: 2
  node3:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9002:9000"
    environment:
      RAFTY_PEERS: node1:9000,node2:9001,node3:9002
      RAFTY_CONNECT: 1,2
      RAFTY_NODE_ID: 3

